<!DOCTYPE html>
<html>
<head>
	<title>Student1 Page</title>
</head>
<body>
	<h1>Student1 Home Page</h1>
	<p>Welcome, Student1!</p>
	<p>Logout here: </p>
	<a href="/logout"><button type="logout">Logout</button></a>
	
</body>
</html>
