<!DOCTYPE html>
<html>
<head>
	<title>Teacher Page</title>
</head>
<body>
	<h1>Teacher Home Page</h1>
	<p>Welcome, Teacher!</p>
	<p>Logout here: </p>
	<a href="/logout"><button type="logout">Logout</button></a>
</body>
</html>
