<!DOCTYPE html>
<html>
<head>
	<title>Teacher Page</title>
</head>
<body>
	<h1>Teacher Home Page</h1>
	<p>Welcome, Teacher!</p>
	<form action="/logout" method="post">
		<h2>Logout by clicking button</h2>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
